@import url('./reset.css');
#wrap {width: 1200px;margin: 0 auto;}

/* 헤더 */
#wrap #header {width: 100%;height: 100px;display: flex;position: relative;z-index: 3;}

/* 로고 */
#wrap #header .left {width: 200px;height: 100%;display: flex;align-items: center;}
#wrap #header .left h1 {width:100%;height: 40px;}
#wrap #header .left h1 a {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#wrap #header .left h1 a span:nth-child(1) {
    color: #5ac;
}
#wrap #header .left h1 a span:nth-child(2) {
    margin-left: 5px;
    color: #c5a;
}

#wrap #header .right {
    width: 1000px;height: 100%;    
}


/* 네비게이션 =>  메인메뉴 */
#wrap #header .right #nav {
    width:700px;
    margin:49px 20px 0 auto; 
}
#wrap #header .right #nav > ul {display: flex;width:100%;}
#wrap #header .right #nav > ul > li {
    width:25%;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
}
#wrap #header .right #nav > ul > li:last-child {border-right:1px solid #ddd;}

#wrap #header .right #nav > ul > li > a {
    width: 100%;display: flex;align-items: center;justify-content: center;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: all 0.3s;
    background: #fff;
}
#wrap #header .right #nav > ul > li > a:hover {
    background: #2c2a29;
    color: #669900;
}   
#wrap #header .right #nav > ul > li > a.on {
    background: #2c2a29;
    color: #669900;
}   


/* 서브메뉴 */
/* 스타벅스 서브메뉴와 같은 전체메뉴 */
#wrap #header .right #nav > ul > li .sub {
    position: absolute;
    top:100px;
    left:0;
    width: 100%;
    background: #2c2a29;
}
/* #wrap #header .right #nav > ul > li .sub1 {background-color: #333329;}
#wrap #header .right #nav > ul > li .sub2 {background-color: #2c2a59;}
#wrap #header .right #nav > ul > li .sub3 {background-color: #332a29;}
#wrap #header .right #nav > ul > li .sub4 {background-color: #2c4a29;} */


#wrap #header .right #nav > ul > li .sub .sub-container {
    width:700px;
    margin: 0 20px 0 auto;
}
#wrap #header .right #nav > ul > li .sub .sub-container > ul {width:100%;display: flex;padding: 20px 0;}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li {width:25%;} /* 4칸 */
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul {width:100%;}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul > li {width:100%;}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul > li a {
    color:#999;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul > li a:hover {
    background: #666;
    color: #fff;
}





/* 메인 */
#wrap #main {width: 100%;position: relative;z-index: 2;}
#wrap #main #section1 {width: 100%;height: 300px;background-color: #c9c;}
/* 메인슬라이드 아래에서 위로이동 */
#wrap #main #section1 .slide-container {width:100%;height: 100%;}
#wrap #main #section1 .slide-container .slide-content {width: 100%;height: 100%;overflow: hidden;}
#wrap #main #section1 .slide-container .slide-content .slide-wrap {
    width: 100%; 
    height: 100%;   
    position: relative;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url() no-repeat 50% 50%;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide1 {
    background-image: url(../images/banner_img.jpg);
    background-position: 50% 30%;
    background-size: 120% auto;
    z-index: 3;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide2 {
    background-image: url(../images/banner_img2.jpg);
    background-position: 50% 0%;
    background-size: 100% auto;
    z-index: 2;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide3 {
    background-image: url(../images/banner_img3.png);
    background-position: 50% 30%;
    background-size: 110% auto;
    z-index: 1;
}

#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide  a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide  a span {
    width: 100%;
    height: 70px;
    background: rgba(85, 170, 204, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color:#fff;
    user-select: none;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide2 a span {background-color: rgba(204, 85, 170, 0.9);}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide3 a span {background-color: rgba(250, 120, 85, 0.9);}


#wrap #main #section2 {width: 100%;height: 200px;display: flex;padding: 10px 0;user-select: none;}
#wrap #main #section2 .left   {width: 33.333%;height: 100%;}
#wrap #main #section2 .left  .container {width: 100%;height: 100%;position: relative;padding-top: 35px;}

/* 공지사항 & 갤러리 박스 */
/* 타이틀(버튼) */
#wrap #main #section2 .left .container .title {
    width: 100%;
    height: 36px;
    display: flex;
    padding: 0 0 0 10px;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}
#wrap #main #section2 .left   .container .title button {padding: 0 10px;border: 0;border-radius: 5px 5px 0 0;height: 36px;}

/* 공지사항버튼 */
#wrap #main #section2 .left   .container .title button.notice-btn {border: 1px solid #ccc;border-bottom: 1px solid transparent;background: #fff;cursor: default;}
#wrap #main #section2 .left   .container .title button.notice-btn.on {border: 1px solid #ccc;background: #f3f3f3;cursor: pointer;}

/* 갤러리버튼 */
#wrap #main #section2 .left   .container .title button.gallery-btn {border: 1px solid #ccc;background: #f3f3f3;cursor: pointer;}
#wrap #main #section2 .left   .container .title button.gallery-btn.on {border: 1px solid #ccc;border-bottom: 1px solid rgba(204,204,204, 0);background: #fff;cursor: default;}

/* 콘텐츠(목록 내용) 공지사항 내용 & 갤러리 내용 */
#wrap #main #section2 .left   .container .content {
    width: 100%;
    height: 145px;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
    z-index: 1;
}
/* 공지사항 박스 갤러리 박스 공통스타일 */
#wrap #main #section2 .left   .container .content > div {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background: #fff;
}

/* 공지사항 박스 개별스타일 */
#wrap #main #section2 .left   .container .content   div.notice-box {
    padding-top: 8px;
}
#wrap #main #section2 .left   .container .content   div.notice-box.on {
    display: none;
}
#wrap #main #section2 .left   .container .content   div.notice-box ul {width:100%;}
#wrap #main #section2 .left   .container .content   div.notice-box ul li {
    width: 100%;
    line-height: 24.6px;
    border-bottom: 1px dotted #eee;
    padding-left: 13px;
    position: relative;
    display: flex;
    justify-content: space-between; /* 공지내용 텍스트 왼쪽 / 날짜 오른쪽 */
}
#wrap #main #section2 .left   .container .content   div.notice-box ul li:last-child {border-bottom: 0;}
#wrap #main #section2 .left   .container .content   div.notice-box ul li::before {
    content: '';
    width: 2px;
    height: 2px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

/* 1. 줄바꿈 없이 한줄로 표기    white-space: nowrap */
/* 2. 270픽셀 넘치는 텍스트 숨김 overflow: hidden */
/* 3. 말줄임표 표기 text-overflow: ellipsis */
#wrap #main #section2 .left   .container .content   div.notice-box ul li a {
    font-size: 14px;
    width: 270px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#wrap #main #section2 .left   .container .content   div.notice-box ul li a:hover {text-decoration: underline;color:#90f}

#wrap #main #section2 .left   .container .content   div.notice-box ul li span {color: #999;font-size: 13px;}


/* 갤러리 박스 개별스타일 */
#wrap #main #section2 .left   .container .content   div.gallery-box {
    background:#fff;    
    display: none;
}
#wrap #main #section2 .left   .container .content   div.gallery-box.on {
    
    display: block;
}
#wrap #main #section2 .left   .container .content   div.gallery-box ul {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#wrap #main #section2 .left   .container .content   div.gallery-box ul li {width:33.333%;}
#wrap #main #section2 .left   .container .content   div.gallery-box ul li a {margin:0 10px;display: block;overflow: hidden;}
#wrap #main #section2 .left   .container .content   div.gallery-box ul li a img {width:100%;transition: all 0.3s;}
#wrap #main #section2 .left   .container .content   div.gallery-box ul li a img:hover {transform: scale(1.1);}

/* 이벤트 배너 */
#wrap #main #section2 .center {width: 33.333%;height: 100%;background: #fff;padding: 0 0 0 10px;}
#wrap #main #section2 .center .container {width: 100%;height: 100%;border: 0px solid #ccc;}
#wrap #main #section2 .center .container .content {width: 100%;height: 100%;}
#wrap #main #section2 .center .container .content a {
    width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;
    background: url(../images/image4.jpg) no-repeat 50% 50%;
    background-size: cover;
}
#wrap #main #section2 .center .container .content a h3 {
    font-size: 24px;font-weight: 600;
    line-height: 50px;
    background: rgba(150, 230, 0, 0.6);
    color: #fff;
    width: 100%;
    text-align: center;
}
#wrap #main #section2 .center .container .content a:hover h3 {color: #fff;}

/* 바로가기 배너 */
#wrap #main #section2 .right  {width: 33.333%;height: 100%;background: #fff;padding: 0 0 0 10px;}
#wrap #main #section2 .right .container {width: 100%;height: 100%;border: 0px solid #ccc;}
#wrap #main #section2 .right .container .content {width: 100%;height: 100%;}
#wrap #main #section2 .right .container .content ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;  /* <= 세로정렬 / 가로정렬 => flex-flow: row nowrap;*/
    justify-content: space-between;
}
#wrap #main #section2 .right .container .content ul li {width: 100%;}
#wrap #main #section2 .right .container .content ul li a {
    display: flex;
    width:100%;
    height: 55px;
    align-items: center;
    justify-content: center;
    background: url() no-repeat 50% 50%;
    background-size: cover;
    font-size: 17px;
    font-weight: 600;
}

#wrap #main #section2 .right .container .content ul li:nth-child(1) a {
    background-image: url(../images/image2.jpg);
}
#wrap #main #section2 .right .container .content ul li:nth-child(2) a {
    background-image: url(../images/image.jpg);
}
#wrap #main #section2 .right .container .content ul li:nth-child(3) a {
    background-image: url(../images/image3.jpg);
}



/* 푸터 */
#wrap #fooeter {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    z-index: 1;
    background: #f4f4f4;
    user-select: none;}

/* 로고 */
#wrap #fooeter .left  {width: 200px;height: 100%;display: flex;align-items: center;justify-content: center;}
#wrap #fooeter .left h1 {width:100%;height: 40px;}
#wrap #fooeter .left h1 a {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#wrap #fooeter .left h1 a span:nth-child(1) {
    color: #5ac;
    filter: grayscale(1);
    opacity: 0.5;
}
#wrap #fooeter .left h1 a span:nth-child(2) {
    margin-left: 5px;
    color: #c5a;
    filter: grayscale(1);
    opacity: 0.5;
}


/* 주소 카피라이터 */
#wrap #fooeter .center {
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap #fooeter .center .container {text-align: center;line-height: 170%;}
#wrap #fooeter .center .container address {font-size: 13px;width:100%;color: #666;}
#wrap #fooeter .center .container p {font-size: 11px;width:100%;color: #999;}

 /* SNS 아이콘 */
#wrap #fooeter .right {
    width: 200px;height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap #fooeter .right .container {}
#wrap #fooeter .right .container a {margin: 0 5px;}
#wrap #fooeter .right .container a img {width:24px;}





/* 팝업창 */
/* 
화면의 맨위 맨좌측
전체너비 높이 
*/
#wrap .popup {

    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);

    /* 팝업창 가운데 */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#wrap .popup.on {
    display: flex;
}

#wrap .popup .container {
    width: 500px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

#wrap .popup .container .title {width:100%;}
#wrap .popup .container .title h1 {
    font-size: 20px;
    font-weight: 600;
    color:#222;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#wrap .popup .container .content {
    padding-top: 20px;
}
#wrap .popup .container .content ul {width:100%;}
#wrap .popup .container .content ul li {width:100%;line-height: 180%;}

#wrap .popup .container .button-box {padding-top: 50px;text-align: right;}
#wrap .popup .container .button-box button {
    width: 60px;
    height: 35px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    cursor: pointer;   
    border-radius: 3px; 
    font-weight: 500;
}
#wrap .popup .container .button-box button:hover {
    background: #555;
    color: #fff;
}